{% extends 'base.html.twig' %} {% block title %}Demande{% endblock %} {% block body %}
<div class="container-fluid">
    <h2 style="font-weight: bolder;" class="text-center mt-3 mb-5 ">Entrer vos informations </h2>

    {{ form_errors(form) }} {{ form_start(form) }}

    <section class="container ">
        <div class="row mb-2 ">
            <div class="col-md-6 ">
                {{ form_row(form.prenom) }}
            </div>
            <div class="col-md-6 ">
                {{ form_row(form.nom) }}

            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-md-6 ">
                {{ form_row(form.dateNaissance) }}
            </div>
            <div class="col-md-6 ">
                {{ form_row(form.adresse) }}
            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-md-6 ">
                {{ form_row(form1.LieuReception) }}
            </div>
            <div class="col-md-6 ">
                {{ form_row(form.CIN) }}
            </div>
        </div>

        <button style="font-weight: bolder;" type="submit " class="btn btn-secondary">Valider</button>


    </section>



</div>

{{ form_end(form) }} {% endblock %}